<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- set up application contexts for spring application -->

<context-param>
<param-name>contextConfigLocation</param-name>
<param-value>
/WEB-INF/applicationContext.xml
<!-- /WEB-INF/applicationSecurityContext.xml -->
</param-value>
</context-param>

<!-- security related settings -->
<!--
<filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
</filter>
<filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
-->

<!-- set up default context loader listener class -->

<listener>
<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>

<!-- set up spring sevlet -->

<servlet>
<servlet-name>springmvc</servlet-name>
<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>

<!-- set up REST API servlet-->

<!-- disable Jersey REST API
  <servlet>
	<servlet-name>ServletAdaptor</servlet-name>
	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	// <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
	<init-param>
		<param-name>com.sun.jersey.config.property.packages</param-name>
		<param-value>no.jorundnydal.deicer.restapi</param-value>
	</init-param>
	<load-on-startup>2</load-on-startup>
  </servlet>
  -->

<!-- set up URL pattern for spring servlet -->

<servlet-mapping>
<servlet-name>springmvc</servlet-name>
<url-pattern>*.html</url-pattern>
</servlet-mapping>

<!-- set up URL pattern for REST API servlet -->

<!--
  <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/restapi/*</url-pattern>
  </servlet-mapping>
  -->

<!-- set up welcome page -->

<welcome-file-list>
<welcome-file>news.html</welcome-file>
</welcome-file-list>

<!-- set up error pages -->

<error-page>
<exception-type>java.lang.Exception</exception-type>
<location>uncaught-error.html</location>
</error-page>

<error-page>
    <error-code>500</error-code>
    <location>http-error.html</location>
</error-page>

<error-page>
    <error-code>404</error-code>
    <location>http-error.html</location>
</error-page>

<error-page>
    <error-code>403</error-code>
    <location>http-error.html</location>
</error-page>

</web-app>